      /*Asi agregar comentarios en CSS, en HTML se puede separar el archivo en un css, en AMP no*/
      header{
        background-color: beige;
        color: darkcyan;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    article{
        background-color: bisque;
        color: #081e80;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    #puppy1{ /*Selector por etiqueta, cuando tiene id el tag de HTML como image id*/
        width: 500px;
    }
    .clase{/*clase va con punto, le da mas prioridad al id despues clase y último etiqueta*/
        color: deeppink;
    }